<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<appenders>
		<RollingFile name="RollingFile" fileName="logs/dbcore.log"
			filePattern="logs/$${date:yyyy-MM}/dbcore-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<pattern>%d %p %c{1.} [%t] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</appenders>
	<loggers>
		<logger name="DB_Jdbc" level="DEBUG">
			<appender-ref ref="Console" />
		</logger>
		<root level="DEBUG">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>